<form action="/landmarks" method="post">
    <p>Name: <input type="text" name="landmark[name]" id="landmark_name"></p><br />
    <p>Year Completed: <input type="text" name="landmark[year_completed]" id="landmark_year_completed"></p><br />
    <input type="submit" value="Create New Landmark">
</form>